html, body {
    height: 100%;
}

.dark{
    background: #313131;
    border-color: #313131;
}

body.dark{
    color: white;
}

.dark button{
    color:white;
}

.dark .table-of-contents li a{
    color: white;
}

.book-1{
    background-color: #8a452b;
}
.book-2{
    background-color: #696f64;
}
.book-3{
    background-color: #1c2528;
}
.book-4{
    background-color: #e1ceab;
}
.book-5{
    background-color: #5a3441;
}
.book-6{
    background-color: #1a252a;
}
.book-7{
    background-color: #505153;
}

.fill-screen{
    min-height: 100vh;
}

.sticky{
    position: sticky;
    top: 0;
}

.margin-top-0{
   margin-top: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.full-screen{
    min-height: 100vh;
}

.table-of-contents ul li{
    margin-left: 5px;
    font-size: smaller;
}

.fixed-position{
    position: fixed;
}

.section-wrapper{
    margin: 0 3em;
}

.top-nav{
    height: 60px;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wordcloud-img{
    height: 70vh;
    width: auto;
    padding-bottom: 50px;
}
.carousel .carousel-item>.wordcloud-img {
    width: auto !important;
}

.wordcloud-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.wordcloud-img-container p{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.network-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.network-container img{
    width: auto;
    height: 100vh;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.network-container:hover .image-overlay {
    opacity: 1;
}

.legend {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 0.5em;
    left: 4em;
    text-align: left;
}

.legend div{
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}

.node-label.gryffindor{
    background: #CE0E00;
    opacity: 0.65;
}

.node-label.slytherin {
    background: #009403;
    opacity: 0.65;
}
.node-label.hufflepuff {
    background: #FFCA52;
    opacity: 0.65;
}
.node-label.ravenlclaw {
    background: #6596BF;
    opacity: 0.65;
}
.node-label.muggle {
    background: white;
    opacity: 0.65;
}
.node-label.default {
    background: #4e0333;
    opacity: 0.65;
}
.node-label{
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.sub-section{
    font-size: small;
    margin-left: 20px;
}

.degree-image{
    width: 100%;
    height: auto;
}

.hidden{
    display: none;
}

.py-1{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.overflow-auto{
    overflow: auto
}
